<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Amazon Suite">

	<test name="Amazon Suite">
		<classes>
			<class name="com.jaya.iphoneyellow.tests.AmazonPageTest"/>
			<!-- <class name="com.jaya.iphoneyellow.tests.WalmartPageTest"/> -->
			<!-- <class name="com.jaya.iphoneyellow.pricecompare.ComparePrice"/> -->
		</classes>
	</test>
</suite>