<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="PlanSelectionSuite">
	<test name="PlanTesting">
		<classes>
			<class name="org.mp.planselection.testbase.TestBase" />
		</classes>
	</test> <!-- PlanTesting -->
</suite> <!-- PlanSelectionSuite -->
